<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Mode" value ="test"/>
		<add key="taxFileName" value="C:\Data\Flooring\Taxes.txt"/>
		<add key="productFileName" value="C:\Data\Flooring\Products.txt"/>
		<add key="testOrderFileName" value="C:\Data\Flooring\Orders_06012013.txt"/>
		<add key ="orderFilePath" value ="C:\Data\Flooring"/>
	</appSettings>
</configuration>